In [1]:
print('hello, python')

hello, python

# 산술연산

In [4]:
12488*44949-223230933

338092179

In [5]:
8484+33*0

8484

In [6]:
(8484+33)*0

0

In [7]:
2**10

1024

In [8]:
88/5

17.6

In [9]:
88//5

17

In [10]:
88%5

3

# 변수 대입

In [11]:
b=5

In [12]:
a = 20

In [13]:
a*b

100

In [14]:
b = 5
a = 20
a*b

100

In [15]:
c = 11.1
d = 4.4
c+d

15.5

# 변수 대입 예제

In [16]:
a=88
b=99
print(a*b)

8712

In [17]:
a=10
b=10.0
c="10"
d=10j
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [18]:
a = 10
a = a*10
print(a)

100

# 예제 - 구구단1

In [21]:
a=3
print(a*1)
print(a*2)
print(a*3)
print(a*4)
print(a*5)
print(a*6)
print(a*7)
print(a*8)
print(a*9)

3
6
9
12
15
18
21
24
27

# 문자열

In [24]:
str1 = "1"
str2 = "123"
str3 = str1*3
print(str3)
str4 = str3+str2
print(str4)

111
111123

In [25]:
a=4
b=7
c=a+b
result = str(a)
result = result + "+"
result = result + str(b) + "=" + str(c)
print(result)

4+7=11

In [27]:
a = 'he said, "hello"'
print(a)

he said, "hello"

In [28]:
a = 'he said, \n"hello"'
print(a)

he said,
"hello"

In [30]:
a = 4
b = 7
print(str(a)+'+'+str(b)+'='+str(a+b))
result = '{0}+{1}={2}'.format(a,b,a+b)
print(result)

4+7=11
4+7=11

# 예제 - 문자열

In [44]:
a = "안녕하세요, "
b = "사용자님"
print(a+"'"+b+"'")
print("{}'{}'".format(a,b))

안녕하세요, '사용자님'
안녕하세요, '사용자님'

In [34]:
a = 3
b = 6
print(str(a)+"x"+str(b)+"="+str(a*b))

3x6=18

In [35]:
a = 3
b = 6
print('{}x{}={}'.format(a,b,a*b))

3x6=18

# 반복문 for

In [45]:
for var in range(1,5):
    print(var)

1
2
3
4

# 예제 - for문1

In [52]:
a=0
for var in range(3,20+1):
    a = a + var
print(a)

207

In [55]:
for var in range(1,5+1):
    print(var/10)

0.1
0.2
0.3
0.4
0.5

In [56]:
for a in range(3):
    for b in range(2):
        print("{}+{}={}".format(a,b,a+b))

0+0=0
0+1=1
1+0=1
1+1=2
2+0=2
2+1=3

# 예제 - for문2

In [61]:
for a in range(5):
    print(5-a)

5
4
3
2
1

In [60]:
for a in range(1,10):
    print("3 x {} = {}".format(a,3*a))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

# 예제 - for문3

In [68]:
a = "*"
for i in range(5):
    b = a
    for j in range(i):
        b = b+a
    print(b)

*
**
***
****
*****

In [69]:
a = "*"
for i in range(5):
    print(a*(i+1))

*
**
***
****
*****

# input()

In [70]:
a = input("입력하세요: ")

입력하세요: 아항~!

In [71]:
print(a)

아항~!

# 예제 - input()

In [74]:
a = input("이름을 입력해주세요: ")
print("안녕하세요 {}님".format(a))

이름을 입력해주세요: 데헷
안녕하세요 데헷님

In [83]:
a = input("숫자를 입력해주세요: ")
print("{}의 2배수는 {}입니다.".format(int(a),int(a)*2))

숫자를 입력해주세요: 6
6의 2배수는 12입니다.

In [84]:
a = input("숫자를 입력해주세요: ")
b = int(a)
c = 0
for i in range(1,b+1):
   c=c+i 
print("{}이하의 정수의 합은 {}입니다.".format(b, c))

숫자를 입력해주세요: 10
10이하의 정수의 합은 55입니다.

# random 모듈

In [91]:
import random
a = random.randint(1,3) 
print(a)

3

In [ ]:
b= random.random() #0이상 1미만의 실수
print(b)

# 예제 - random

In [94]:
a = input("숫자를 입력해 주세요: ")
b = int(a)
for i in range(3):
    c = random.randint(1,b)
    print(c)

숫자를 입력해 주세요: 3
3
3
1

# 예제 - if문1

In [99]:
#1이상 10이하의 2개의 정수를 임의로 선택, 큰 숫자를 출력
import random
a = random.randint(1,10)
b = random.randint(1,10)
print("{}과 {}가 선택되었습니다.".format(a,b))

c = a>=b
if c :
    print("큰 숫자는 {}입니다.".format(a))
else :
    print("큰 숫자는 {}입니다,".format(b))

7과 2가 선택되었습니다.
큰 숫자는 7입니다.

In [100]:
#정수 하나를 입력받고, 홀수인지 짝수인지 출력
import random
a = input("숫자를 입력해주세요: ")
a = int(a)
b = a%2==0
if b:
    print("{}는 짝수입니다.".format(a))
else :
    print("{}는 홀수입니다,".format(a))

숫자를 입력해주세요: 9
9는 홀수입니다,

In [103]:
a = int(input("정수를 입력하세요: "))
if a%3==0 and a%4==0:
    print("{}는 12의 배수입니다.".format(a))
elif a%3==0:
    print("{}는 3의 배수입니다.".format(a))
elif a%4==0:
    print("{}는 4의 배수입니다.".format(a))
else:
    print("{}는 3이나 4의 배수가 아닙니다.".format(a))

정수를 입력하세요: 55
55는 3이나 4의 배수가 아닙니다.

In [102]:
#1이상 100이하의 3의 배수의 개수
import random
count=0
for i in range(1,101):
    if i%3==0 :
        count=count+1
print(count)

33

# 예제 - if문2

In [104]:
sum = 0
for i in range(1,101):
    if i%4==0 and not i%8==0:
        sum = sum+i
print(sum)

676

In [105]:
a = int(input("점수를 입력해주세요: "))
if a>=90 :
    print("학점은 A입니다.")
elif a>=80 :
    print("학점은 B입니다.")
elif a>=70 :
    print("학점은 C입니다.")
elif a>=60 :
    print("학점은 D입니다.")
else :
    print("학점은 F입니다.")

점수를 입력해주세요: 88
학점은 B입니다.

In [113]:
a = int(input("금액를 입력해주세요(원): "))
print("{}달러입니다.".format(round(a/1225,2)))
print("{}유료입니다.".format(round(a/1339,2)))

금액를 입력해주세요(원): 8000
6.53달러입니다.
5.97유료입니다.